mem = -1
retry = 1
system = "local"
#system = "generic"
timeout = 259200
walltimeout = 604800
waitAfterTaskRun = 3
tmpDir = /tmp
reportHtml = true
reportYaml = true
clusterGenericRun = ../.bds_clusterGeneric_SLURM/run.pl
clusterGenericKill = ../.bds_clusterGeneric_SLURM/kill.sh
clusterGenericStat = ../.bds_clusterGeneric_SLURM/stat.sh
clusterGenericPostMortemInfo = ../.bds_clusterGeneric_SLURM/postMortemInfo.sh
